---
import NavBar from "../components/NavBar.astro";
import SobreMi from "../components/SobreMi.astro";
import Background from "../components/Background.astro";
import Habilidades from "../components/Habilidades.astro";
import Experiencia from "../components/Experiencia.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
---

<html>
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet" />
	<!-- Aquí va el favicon -->
	<link rel="icon" href="../uimg.png" type="image/png" />
	<title>Ulises Casal</title>
</head>
<body>
	
		<main>
			<Background />
			<NavBar />
			<SobreMi />
			<Habilidades />
			<Experiencia />
			<Proyectos/>
			<Contacto/>
		</main>
</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 68%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 18px;
		line-height: 1.6;
		font-family: "Onest";
	}
</style>
