
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<h1 id="Habilidades" class="text-5xl font-bold pt-20">Habilidades</h1>
<div class="flex items-start" style="padding-top: 30px">
    <ul class="list-disc">
        <li class="font-bold" style="padding-top: 10px;">
            Lenguajes de programación y relacionados: <a class="font-normal"
                >Astro, Delphi, Java <i class="devicon-java-plain"></i>
                , Kotlin <i class="devicon-kotlin-plain"></i>
                , Python <i class="devicon-python-plain"></i>
                , React <i class="devicon-react-plain"></i>
                , React Native 
                , SAP/ABAP
                , SAPUI5
                , SAP reports
                , Servicios OData (SAP)
                , Tailwind <i class="devicon-tailwindcss-plain"></i>
                , SQL, PostgreSQL,<i
                    class="devicon-postgresql-plain"></i>
                Open SQL
                , HTML<i class="devicon-html5-plain"></i>
                , CSS <i class="devicon-css3-plain"></i> y XML</a
            >.
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Patrones de diseño:
            <a class="font-normal" style="padding-top: 10px;"> del libro Design Patterns: Elements of Reusable Object-Oriented Software de Erich Gamma.</a>
            <aside class="ml-auto">
                <img
                    class="rounded-full"
                    src="src/analisis-funcional.jpg"
                    alt="mi imagen"
                    height="300px"
                    width="300px"
                />
            </aside>
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Conocimiento técnico:
            <a class="font-normal" style="padding-top: 10px;">
                Análisis funcional, UML, conocimiento en protocolos del Stack
                TCP/IP, Linux, diseño de base de datos mediante Diagrama Entidad
                Relación y Modelo Lógico Relacional, consultas en SQL general, conocimiento en modulos de SAP, metodologías ágiles (Scrum y XP).</a
            >
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Conocimiento SAP:
            <a class="font-normal" style="padding-top: 10px;">
                ABAP, Desarrollo y consumo de Servicios OData, desarrollo de tiles Fiori con SAPUI5, Reportes, SAP PowerDesigner, Web IDE.  
            </a>
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Software adicional:
            <a class="font-normal" style="padding-top: 10px;">
                Android Studio <i class="devicon-androidstudio-plain"></i>, Bitbucket, 
                Github<i class="devicon-github-original"></i>, Git<i class="devicon-git-plain"></i>, 
                Jira, SAP, Web IDE.
            </a>
            
        </li>
    </ul>
</div>
