
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<h1 class="text-5xl font-bold" style="padding-top: 40px;">Habilidades</h1>
<div class="flex items-start" style="padding-top: 30px">
    <ul class="list-disc">
        <li class="font-bold" style="padding-top: 10px;">
            Lenguajes de programación y relacionados: <a class="font-normal"
                >Astro, Delphi, Java <i class="devicon-java-plain"></i>
                , Kotlin <i class="devicon-kotlin-plain"></i>
                , NodeJs <i class="devicon-nodejs-plain"></i>
                , Python <i class="devicon-python-plain"></i>
                , React <i class="devicon-react-plain"></i>
                , SAP/ABAP
                , SAP reports
                , Tailwind <i class="devicon-tailwindcss-plain"></i>
                , SQL, PostgreSQL,<i
                    class="devicon-postgresql-plain"></i>
                Open SQL
                , HTML<i class="devicon-html5-plain"></i>
                , CSS <i class="devicon-css3-plain"></i> y XML</a
            >.
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Patrones de diseño:
            <a class="font-normal" style="padding-top: 10px;"> del libro Design Patterns: Elements of Reusable Object-Oriented Software de Erich Gamma.</a>
            <aside class="ml-auto">
                <img
                    class="rounded-full"
                    src="src/Multimedia/analisis-funcional.jpg"
                    alt="mi imagen"
                    height="300px"
                    width="300px"
                />
            </aside>
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Conocimiento técnico:
            <a class="font-normal" style="padding-top: 10px;">
                Análisis funcional, UML, conocimiento en protocolos del Stack
                TCP/IP, Linux, diseño de base de datos mediante Diagrama Entidad
                Relación y Modelo Lógico Relacional, consultas en SQL general, conocimiento en modulos de SAP, metodologías ágiles (Scrum y XP).</a
            >
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Conocimiento de desarrollo Móvil en Kotlin:
            <a class="font-normal" style="padding-top: 10px;">
                Constraint Layout, Corrutinas, Room, Retrofit, Fragments, Test
                Unitarios y de UI.
            </a>
        </li>
        <li class="font-bold" style="padding-top: 10px;">
            Software adicional:
            <a class="font-normal" style="padding-top: 10px;">
                Git<i class="devicon-git-plain"></i>, Github<i
                    class="devicon-github-original"></i>, Android Studio <i
                    class="devicon-androidstudio-plain"></i>
                    , SAP.</a
            >
        </li>
    </ul>
</div>
